PUBLIC_SITE_URL=https://barberiabacaanda.mx
PUBLIC_WHATSAPP_NUMBER=525550564567
PUBLIC_PHONE_NUMBER=5550564567
PUBLIC_BOOKING_URL=https://barberiabacaanda.site.agendapro.com/mx/sucursal/53664
PUBLIC_AGENDAPRO_IFRAME_SRC=https://agendapro.com/iframe/overview/TXRwb0YwKzdjN0NlN1RQYXJ6YXJTZz09LS1UdytTV1pSR0c0RnhGLytXdDMrbDh3PT0=--dac24db2a788600678fb1b679f976c75aef6f14d
PUBLIC_INSTAGRAM_HANDLE=bacaanda.barberia
