PUBLIC_SITE_URL=https://barberiabacaanda.mx
PUBLIC_WHATSAPP_NUMBER=525550564567
PUBLIC_PHONE_NUMBER=5550564567
PUBLIC_BOOKING_URL=https://barberiabacaanda.site.agendapro.com/mx/sucursal/53664
PUBLIC_INSTAGRAM_HANDLE=bacaanda.barberia
